<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">   
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage"><img src="img/firstLogo.png" alt="Smiley face" height="42" width="42"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="hvr-underline-from-center" href="#myPage">HOME</a></li>
                <li><a class="hvr-underline-from-center" href="#band">RECIPES</a></li>
                <li><a class="hvr-underline-from-center" href="#tour">CATEGORIES</a></li>
                <li><a class="hvr-underline-from-center" href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="start">
    <div class="form text-center">
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" size="50" ng-model="query" placeholder="Search your favorite food here..." required>
            <div class="input-group-btn">
                <button type="button" class="btn">Search</button>
            </div>
        </div>
    </form>
    </div>
</div>
