<div class="start">
    <div class="form text-center">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" size="50" ng-model="query" placeholder="Search your favorite food here..." required>
                <div class="input-group-btn">
                    <button type="button" class="btn">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>  

<div class="container" id="recipes">
    <div class="row">
        <div class="mealBox col-md-3 col-sm-6" ng-repeat="viewRecipes in table| filter:query">
            <img src={{viewRecipes.picture}} class="img-responsive img-thumbnail" alt="image">
            <h4>{{viewRecipes.recipe}}</h4>
            <p>{{viewRecipes.categori}}</p>
            <i>{{viewRecipes.author}}</i>
        </div>
    </div>
</div>

