<div class="container">
    <div class="row">
        <div class="pic col-md-4">
            <img class="big-pic img-thumbnail" src={{picture}} alt="picture">
        </div>
        <div class="pic col-md-4">
            <h1 class="hvr-underline-from-center">{{name}}</h1>
            <p class='description'>{{description}}</p>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-2">
            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ingredients</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ing in table">
                            <td>{{ing.amount}} {{ing.ing}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <p>{{instruction}}</p>
            </div>
        </div>
        
    </div>
</div>
